.header{

    width:100%;
    display: flex;
    justify-content: space-around;
    height: 100vh;;
    align-items: center;
    justify-content: center;
}

.leftDiv{
    width:50%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:40px;
}

.leftDiv > div{
    width: 50%;

}

.bigText{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.bigText h1{
     
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:4rem;
    width: fit-content;
    margin:0;
}
.bigText p{

   width: fit-content;
   font-weight: 600;
}

.smallText{
       width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.smallText p{
    width: fit-content;
    font-weight: 100;
    font-size: small;
}
.btn-header{
    width:130px;
    height:40px;
    border-radius: 10px;
    background-color: brown;
    color: white;
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:4px;
    border-style: none;
     
}
.rightDiv img{
    width:90%;
}

.how-we-work{
    width:100%;
    display: flex;
    flex-direction: column;
    gap:30px;

    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #F4F4F4;


}

.how-we-work-list{
    width:90%;
    display: flex;
   align-items: center;
   justify-content: center;
   height:50%;
}

.how-we-work-list ul{
    display: flex;
    flex-direction: row;
    gap:230px;
    width:100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    height:50%;
   

}
.how-we-work-list ul li{
    list-style-type: none;
    text-align: center;
    height:50%;
    
}
.image-list{
    width:100%;
   height:200px;

}

.how-we-work-text h2{

    margin-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;

}
.how-we-work-list ul li p{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

.how-btn{
      width:130px;
    height:40px;
    border-radius: 10px;
    background-color: brown;
    color: white;
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:4px;
    border-style: none;
    margin-bottom: 40px;
   
}
.how-btn:hover{
    cursor: pointer;
    background-color:coral;
}


.topProducts{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:25px;
   margin-top: 100px;
}


.innerDiv{
    
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    

}
.productStyle img{
    width:200px;
   

}

#productsDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-bottom: 50px;
}

.productStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
    min-height: 450px;
    text-align: center;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  
}

.productStyle:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}

.productStyle img {
    width: 180px;
    height: 180px;
    object-fit: contain;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: #f9f9f9;
    padding: 10px;
}

.productStyle h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    min-height: 55px;
    color: #222;
}

.productStyle p {
    font-size: 14px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 15px;
    flex-grow: 1;
    overflow: hidden;
    text-align: center;
}

.productStyle small {
    background-color: brown;
    color: white;
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.productStyle .category {
    font-size: 13px;
    color: #888;
}

.orderbtn{

          width:130px;
    height:40px;
    border-radius: 10px;
    background-color: #19183B;
    color: white;
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:4px;
    border-style: none;
    margin-bottom: 40px;
    cursor: pointer;
}
.orderbtn:hover{
    background-color: brown;
}