

.container{
    display: flex;
    flex-direction: row;
 

    width:90%;
    height:100vh;
    margin:auto;

    align-items: center;
    justify-content: baseline;
    gap:30px;
   
}

.productCardStyle{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 330px 165px;
    row-gap: 50px;
    padding:5px;
    border-radius: 40px;

   
}

.img{
    width:40%;
    
}

.productImageAndTitle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
      font-size: 12px;
    line-height: 1.6;
    color: #555;
    background-color:#F9F8F6;
    border-radius: 20px;
    padding:20px;
    
     transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.productImageAndTitle:hover{
    
    transform: translateY(-10px);
}

.title{
    display: flex;

    align-items: flex-start;

    height:30%;
}

.productPrice{
       background-color: #F9F8F6;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:10px;
    color:#333;
    font-size: larger;
    gap:20px;

}

.imgDiv{
    width: 80%;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
   
    border-radius: 10px;
    padding:20px;
    margin:auto;
}

.rate{
    color:orange;
     margin:0px;
}
.count{
    font-weight: 900;
    margin:0px;
}
.price{
    margin:0px;
}

.addToCartBtn{
    width:100px;
    height:50px;
    border-style: none;
    background-color: orange;
    color:white;
    border-radius: 9px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}
.addToCartBtn:hover{
    background-color: orangered;
}