.myOrdersContainer{


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:40px;
    background-color: #E6E6E6;
}

.text{
    display: flex;
    gap:15px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.text img{
    width:45px;
}

.orderCards{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap:40px;
    
    margin-bottom: 40px;
}

.cardStyle{
    display: flex;
    flex-direction: column;
    width:80%;
    margin:auto;
    padding:20px;
    background-color: white;
    border-radius: 10px;
}

.divBtn{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.bluebtn{
    background-color: blue;
    color:white;
    border-style: none;
    width:150px;
    height:40px;
    border-radius: 5px;
    cursor: pointer;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.trackbtn{
      background-color:green;
    color:white;
    border-style: none;
    width:150px;
    height:40px;
    border-radius: 5px;
    cursor: pointer;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cancel{
      background-color:brown;
    color:white;
    border-style: none;
    width:150px;
    height:40px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cancel:hover{
    background-color: red;
}
.trackbtn:hover{
    background-color:cadetblue;
}
.bluebtn:hover{

    background-color:chocolate;
}

.card h2,p,h4,small{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.detailsDiv{
    display: none;
}