.containerProfile{
    width:90%;
    margin:auto;
    height:100%;
    display: flex;
    flex-direction: column;
    gap:40px;
    margin-top: 80px;
      box-shadow: 0 2px 6px rgba(74,144,226,0.3);
      padding:20px;
      margin-bottom: 40px;
}

.innerContainer{
    width:90%;
   
    display: flex;
    gap:20px;
    justify-content: space-between;
}

.profileImg{
    width:200px;
    height:200px;
    border-radius: 50%;
    border-radius: 100%;
}

.imageAndUsernameDiv{
    display: flex;
    gap:30px;

}
.profileFormDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.btn {
  border: none;
  background: #f0f0f0;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.btn:hover {
  background: #e0e0e0;
}

.profileForm {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 350px;
}

.profileForm input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.profileForm input:focus {
  border-color: #4A90E2;
  box-shadow: 0 2px 6px rgba(74,144,226,0.3);
  background-color: #fff;
}

.profileForm input::placeholder {
  color: #aaa;
  font-style: italic;
}

.profileFormDiv hr {
  width: 100%;         
  border: none;        
  border-top: 1px solid #ccc; 
  
}

.updateBtn{
      width: 50%;
  padding: 12px 15px;
border:none;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  background-color:#4A90E2;
  cursor: pointer;
  color:white;

}

.updateBtn:hover{
    background-color:#018790;
}



.profileOrderDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    display: none;
}

.orderCard{
    width:100%;
    display: flex;
    gap:10px;
    flex-wrap: wrap;

}

.cardStyle{

    width:30%;
    background-color: #018790;
    border-radius: 8px;
    padding:10px;
    color:#fff;

}

.formAndOrderDiv{
    width:50%;
  
    height:100%;
    display: flex;
    flex-direction: column;
    width:100%;
    gap:10px;
}