body{
    margin:0px;
    padding:0px;
}
.registerDiv{

    width:100%;
    background-color: #f92824;
    display: flex;
    align-items: center;
    justify-content: center;
    height:800px;
    margin :auto;
}


.innerDiv-register {
    width: 80%;
    background-color: #f92824;
    height: 80%;
    display: flex;
    justify-content: space-between;

}

.registerForm{
    width:50%;
    background-color: #0d101b;
    color:#f7f6f9
}

.imageDiv{
    width:50%;
    background-image: url('Ecommerce.jpg');
   background-repeat: no-repeat;
   background-size: cover;
}

.registerForm{
    width:50%;
    display: flex;
    flex-direction: column;
    gap:7px;
    align-items: center;
    justify-content: center;
}
.input{
    width:70%;
    border-style: none;
background: transparent;
    border-bottom-style:solid !important;
    margin-bottom:45px;
    color:#fff;
    outline: none;
   
}

.register-btn{

    width:70%;
    height:50px;
    background-color: #fa4a2c;
    color:#fff;
    font-size: medium;
    border-style: none;
    cursor: pointer;
}


